@charset "UTF-8";

/*
    id no html = # no css
    class no html = . no css
*/
body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(4, 109, 0);
}
h1#principal {
    text-align: center;
    background-color: rgb(4, 109, 0);
    color: white;
}

h2 {
    color: rgb(73, 109, 71);
}

.basico {
    color: rgb(32, 138, 32);
}
.intermed{
    color: rgb(151, 151, 54);
}
.avancado {
    color: rgb(226, 72, 72);
}